.skill_container {
    width: 550px !important;
    height: 315px !important;
    /* margin-left: 248px; */
}

.example-container > * {
    width: 295px;
    margin-left: 133px;
}
.mat-raised-button.mat-accent {
    background-color: #006400 !important;
    color: #fff;
}

.textcolor{
    color: #fff;
}
.skill_border{
    border: 1px solid black;
    height: 319px;
    width: 548px;
}
.text_center{
text-align: center;
margin-top: 21px;
font-size: 21px;
font-family: serif;
}
.button-center{
    margin-left: 162px;
}