&nbsp;&nbsp;
<div class="row">
    <button mat-flat-button color="primary" (click)="apply()">Apply Leave</button>
</div>
<div *ngIf="dataSource.data.length > 0"> 
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="fromDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> From Date </mat-header-cell>
      <mat-cell *matCellDef="let leave"> {{leave.fromDate | date:'yyyy/MM/dd'}}</mat-cell>
    </ng-container>

    <!-- To Date Column -->
    <ng-container matColumnDef="toDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> To Date </mat-header-cell>
      <mat-cell *matCellDef="let leave"> {{leave.toDate | date:'yyyy/MM/dd'}}</mat-cell>
    </ng-container>

    <!-- Note Column -->
    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>
      <mat-cell *matCellDef="let leave"> {{leave.note}}</mat-cell>
    </ng-container>

    <!-- Leave days-->
    <ng-container matColumnDef="leave">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Days</mat-header-cell>
      <mat-cell *matCellDef="let leave"> {{leave.days}} </mat-cell>
    </ng-container>
    <!-- Status-->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let leave"> {{leave.statusText}}</mat-cell>
    </ng-container>
    <!-- Action Coloumn -->
    <ng-container matColumnDef="customColumn">
      <mat-header-cell *matHeaderCellDef>
        Action
      </mat-header-cell>
      <mat-cell *matCellDef="let leave">
        &nbsp;&nbsp;
          <button mat-flat-button color="warn" *ngIf="leave.status == '1'" (click)="leavecancel()">Cancel</button> &nbsp;
          <span *ngIf="leave.status != '1'"> -- </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="3"  [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<div class="text-center" *ngIf="dataSource.data.length == 0">
   No record found
</div>
</div>