<div class="leaveapp_container">
    <!-- <div class="row">
      <button mat-flat-button color="primary" (click)="applyleavebyadmin()">Apply Leave</button>
    </div> -->
    <div style="text-align:center;">
      <strong>Employee leave request list</strong>
    </div>
    <div>
    
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Employee name Coloumn -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
            <mat-cell *matCellDef="let leavereqlist"> {{this.name}}</mat-cell>
          </ng-container>
          <!-- From date Column -->
          <ng-container matColumnDef="fromDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> From Date </mat-header-cell>
            <mat-cell *matCellDef="let leavereqlist"> {{leavereqlist.fromDate | date:' yyyy/MM/dd'}}</mat-cell>
          </ng-container>
  
          <!-- To Date Column -->
          <ng-container matColumnDef="toDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> To Date </mat-header-cell>
            <mat-cell *matCellDef="let leavereqlist"> {{leavereqlist.toDate | date:' yyyy/MM/dd'}}</mat-cell>
          </ng-container>
  
          <!-- Note Column -->
          <ng-container matColumnDef="note">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>
            <mat-cell *matCellDef="let leavereqlist"> {{leavereqlist.note}}</mat-cell>
          </ng-container>
  
          <!-- Leave days-->
          <ng-container matColumnDef="days">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Days</mat-header-cell>
            <mat-cell *matCellDef="let leavereqlist"> {{leavereqlist.days}}</mat-cell>
          </ng-container>
          <!-- Status-->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let leavereqlist"> {{leavereqlist.statusText}}</mat-cell>
          </ng-container>
          <!-- Action Coloumn -->
          <ng-container matColumnDef="customColumn">
            <mat-header-cell *matHeaderCellDef>
              Action
            </mat-header-cell>
            <mat-cell *matCellDef="let leavereqlist">
              &nbsp;&nbsp;
              <button mat-flat-button style="background-color:forestgreen;" (click)="approveleave(leavereqlist._id, '2')">Approve</button>
              &nbsp;
              <button mat-flat-button color="warn"  (click)="approveleave(leavereqlist._id, '3')">Decline</button>
              
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    </div>
  </div>