mat-cell,
.mat-cell {
  /* display: block; */
  /* flex prevents padding from working */
  min-height: auto;
  /* overrides the 'inherit' that set the min height of the row */
  padding: 0 25px 0 0;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.tech-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.tech-docURL {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
