// @import "../../../sass/mixins";
// @import "../../../sass/variables";
.alert-wrapper {
  width: 400px;
  padding: 25px 30px 30px 30px;
  box-sizing: border-box;
}
.alert_icon{
  width: 32px;
  height: 32px;
}
.margin_t14_b25{
  margin: 14px 0 25px 0;
}
.mat-success {
  background-color: green;
  color: #fff;
}