<div class="alert-wrapper">
    <div *ngIf="data && data.type == 'alert'">
        <h2 mat-dialog-title>Alert</h2>
        <mat-dialog-content>{{data.msg}}</mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button color="accent" (click)="onClickClose()">Close</button>
        </mat-dialog-actions>
    </div>
    <div *ngIf="data && data.type == 'confirm'">
        <!-- <div class="text-center">
            <div>
                <img src="./../../assets/images/alert.svg">
            </div>
            <div class="fontSize16px fontColor39404b margin_t14_b25">{{data.msg}}</div>
        </div>
        <div class="text-align-right">
            <button mat-button class="blue_button md_button" (click)="onClickOk()">OK</button>
            <button mat-button class="blue_button md_button" (click)="onClickClose()">CANCEL</button>
        </div> -->
        <h2 mat-dialog-title>Confirm</h2>
        <mat-dialog-content>{{data.msg}}</mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button color="accent" (click)="onClickClose()">Close</button>
            <button mat-raised-button [color]="'success'" (click)="onClickOk()">OK</button>
        </mat-dialog-actions>
    </div>
    <div *ngIf="data && data.type == 'success'">
        <h2 mat-dialog-title>Success</h2>
        <mat-dialog-content>{{data.msg}}</mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button color="accent" (click)="onClickClose()">Close</button>
        </mat-dialog-actions>
    </div>
</div>